*{
	font-family: "Times New Roman", Times, san-serif;
	/*background-color: #7B0303;*/
	/*color: white;*/
	
}

.form
{
	display:block;
}

h2
{
	color: #0080FF;
}
h4
{
	color:#A666EA;
}
.form-field
{
	min-width: 250px;
	display: block;
	text-align: left;
	margin-left: 10px;
}
.form-input
{
	display: block;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid black;
	/*width: 100%;*/
}

.form-section{
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
	min-width: 250px;
}

.button {
	border: 1px solid black;
	border-radius: .5rem;
	padding: .5rem;
	font-size: 16px;
}

.button.submit {
	background-color: #55AA55;
	color: #F5F5F5;
}

.button:hover{
	cursor: pointer;
}

.menu.horizontal {
	display: block;
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.menu.horizontal li {
	 display: inline-block;
	 border: 1px solid black;
	 padding: 5px;
	 background-color: #0080FF;
 }

.menu.horizontal li a{
  	color: white;
	text-decoration: none;

}

.menu.horizontal li a:hover {
	color: white;
}